body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
}
canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
    width: 60%;
    min-width: 647px;
}
