/*
Código desenvolvido por Mario Souto
https://github.com/omariosouto/flappy-bird-devsoutinho/blob/master/index.html
*/
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
}